<%- include("partial/header") -%>

<%- include("partial/navbar") -%>
<body>
  
    <section class="articlePadding">
        <% const day = (foundPost.createdAt).getDate(); %>
        <% const month = (foundPost.createdAt).toLocaleString('default', { month: 'short' }); %>
        <% const year = (foundPost.createdAt).getFullYear(); %>
        <% const hour = (foundPost.createdAt).getHours(); %>
        <% const minute = (foundPost.createdAt).getMinutes(); %>

        <div style="margin-top: 2rem;" class="container">
            <h1 style="font-weight: 600; margin-bottom: 1.2rem;"><%= foundPost.title %></h1>
            <span style="margin-bottom: 20rem;">By <%= foundPost.author_name %> | <%= day %> <%= month %> <%= year %> <%= hour %>:<%= minute %></span>
            <div style="text-align: left; margin-top: 1rem; padding-right: 10%;" >
                <img class="img-fluid article_img" src="<%= foundPost.img_url %>" alt="">
            </div>

            <div class="articleContent">
                <%- foundPost.content %>
                
            </div>
            

            <div style="margin-top: 2rem;" class="shareArticle">
                <hr>
                <div  class="text-center">
                    <span>Share this article</span>
                </div>
                <div class="text-center" style="margin-top: 1rem;">
                    <a class="s-twitter" href=
                    "https://twitter.com/share?url=https://desiracingco-app.onrender.com/get-arcticles/<%= foundPost._id %>" target="blank" ><i class="fab fa-xl fa-twitter"></i></a>

                    <a class="s-wtp" href=
                    "whatsapp://send?text=https://desiracingco-app.onrender.com/get-arcticles/<%= foundPost._id %>" data-action="share/whatsapp/share" target="_blank" ><i class="fa-brands fa-whatsapp fa-xl"></i></a>
                </div>
            </div>
        </div>

    </section>
  
  <%- include("partial/footer") -%>