<%- include("partial/header") -%>

<%- include("partial/navbar") -%>
<body>
  
    <section>

        <div style="margin-top: 2rem;" class="container">
            <h1 style="font-weight: 600; margin-bottom: 1.2rem;"><%= foundPost.title %></h1>
            <span style="margin-bottom: 20rem;">21 Jul 2023 2:40PM</span>
            <div style="text-align: left; margin-top: 1rem;" >
                <img class="img-fluid" src="<%= foundPost.img_url %>" alt="">
            </div>

            <div class="articleContent">
                <!-- <p>Ricciardo&rsquo;s nightmare stint with the McLaren team was cut short at the end of the 2022 campaign, that one year before the Aussie&rsquo;s contract was set to expire.</p>

                <p>While Ricciardo did give McLaren their most recent F1 victory at the 2021 Italian Grand Prix, overall it was un underwhelming spell in McLaren colours where he was regularly outperformed by team-mate Lando Norris.</p>
                
                <p>McLaren and Daniel Ricciardo &ldquo;financial arrangements&rdquo; settled Ricciardo is back on the grid though for the 2023 Hungarian Grand Prix, Red Bull having decided to axe Nyck de Vries from the line-up at their sister team AlphaTauri and send Ricciardo there on loan for the remainder of the season.</p>
                
                <p>Until this point Ricciardo had been serving as a reserve and simulator driver for Red Bull following his McLaren sacking.</p>
                
                <p>And speaking to Sky F1, Brown was asked whether McLaren are still financially tied to Ricciardo as he returns to the grid with a rival team, since his contract was torn up a year before its expiry?</p>
                
                <p>&ldquo;All of our financial arrangements have come to an end,&rdquo; Brown confirmed.</p>
                
                <p>&ldquo;So he&rsquo;s a free man and we wish him well and we&rsquo;re happy to see him on the grid.&rdquo;</p> -->
                <p><%= foundPost.content %></p>
            </div>
            

            <div style="margin-top: 2rem;" class="shareArticle">
<hr>

<div  class="text-center">
    <span>Share this article</span>
</div>
<div class="text-center" style="margin-top: 1rem;">
                    <a class="s-twitter" href="https://twitter.com/share?url=http://localhost:3000/article?id=2323232" target="_blank"><i class="fab fa-xl fa-twitter"></i></a>
                    <a class="s-wtp" href=
                    "whatsapp://send?text=http://localhost:3000/article?id=2323232"
                            data-action="share/whatsapp/share" target="_blank"><i class="fa-brands fa-whatsapp fa-xl"></i></a>
                    <a class="s-linkd" href="https://www.linkedin.com/sharing/share-offsite/?url=http://localhost:3000/article?id=2323232
                            " target="_blank"><i class="fab fa-xl fa-linkedin-in"></i></a>
                </div>
            </div>

        </div>

    </section>
  
  <%- include("partial/footer") -%>