<%- include("partial/header") -%>

<%- include("partial/admin-navbar") -%>

<body >

  <!-- Card Blog -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <!-- Grid -->
  <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-8">
    <!-- Card -->

    <% foundPost.forEach(function(post){ %>
      <div class="group flex flex-col h-full bg-white border border-gray-200 shadow-sm rounded-xl dark:bg-slate-900 dark:border-gray-700 dark:shadow-slate-700/[.7]">
        <div class="h-48 w-full flex flex-col justify-center items-center rounded-t-xl overflow-hidden">
          <img class="w-full h-full object-cover" src="<%= post.img_url %>" alt="image article">
        </div>
        
        
        <div class="p-4 md:p-6">
          <span class="block mb-1 text-xs font-semibold uppercase text-blue-600 dark:text-blue-500">
            By <%= post.author_name %>
          </span>
          <h3 class="text-lg font-semibold text-gray-800 dark:text-gray-300 dark:hover:text-white">
            <%= post.title %>
          </h3>
          <span class="block mt-3 mb-1 text-xs uppercase text-gray-600">
            <%= post.createdAt.toLocaleString('en-US', { month: 'short' ,day: '2-digit' , year: 'numeric' }) %>
          </span>
        </div>
        <div class="mt-auto flex border-t border-gray-200 divide-x divide-gray-200 dark:border-gray-700 dark:divide-gray-700">
          <a  class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-es-xl bg-amber-400 text-gray-50 shadow-sm hover:bg-amber-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href="/edit-post/<%= post._id %>">
            Modify
          </a>
          <a  class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-ee-xl bg-red-700 text-gray-50 shadow-sm hover:bg-red-800 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href="/delete-article-confirmation/<%= post._id %>">
            Delete
          </a>
          
        </div>
      </div>
      <!-- End Card -->
  <% }) %>
    

  </div>
  <!-- End Grid -->
</div>
<!-- End Card Blog -->



</body>

