<%- include("partial/header") -%>

    <%- include("partial/navbar") -%>

        <main class="w-full max-w-md mx-auto p-6">


          <div id="emailUnverifiedPopup" style="display: none;"  class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
            <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
          
            <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
              <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
                <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
                  <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
                    <div class="sm:flex sm:items-start">
                      <div class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-yellow-100 sm:mx-0 sm:h-10 sm:w-10">
                        <svg class="w-6 text-yellow-400 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="rgba(240,187,64,1)"><path d="M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM11 15V17H13V15H11ZM11 7V13H13V7H11Z"></path></svg>
                      </div>
                      <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
                        <h3 class="text-xl mb-2 font-semibold leading-6 text-gray-900" id="modal-title">Account setup required!</h3>
                        <div class="mt-2">
                          <p class="text-base text-gray-500">Your email is not verified. Please verify your email using the verification link sent to your registered email address.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
                    <button type="button" class="inline-flex w-full justify-center rounded-md bg-blue-600 px-3 py-2 text-sm text-white shadow-sm hover:bg-blue-500 sm:ml-3 sm:w-auto"><a href="https://mail.google.com">
                      Open Gmail
                    </a></button>
                    <button onclick="closePopup()" type="button" class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm  text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div id="emailResentPopup" style="display: none;" class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
            <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
          
            <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
              <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
                <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
                  <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
                    <div class="sm:flex sm:items-start">
                      <div class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-green-100 sm:mx-0 sm:h-10 sm:w-10">
                        <svg class="w-6 text-green-400 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="rgba(100,205,138,1)"><path d="M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM11.0026 16L18.0737 8.92893L16.6595 7.51472L11.0026 13.1716L8.17421 10.3431L6.75999 11.7574L11.0026 16Z"></path></svg>
                      </div>
                      <div class="mt-3 px-12 md:px-0 text-center sm:ml-4 sm:mt-0 sm:text-left">
                        <h3 class="text-xl mb-2 font-semibold leading-6 text-gray-900" id="modal-title">Verification link sent!</h3>
                        <div class="mt-2">
                          <p class="text-base text-gray-500">The verification link has been resent.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
                    <button type="button" class="inline-flex w-full justify-center rounded-md bg-blue-600 px-3 py-2 text-sm text-white shadow-sm hover:bg-blue-500 sm:ml-3 sm:w-auto"><a href="https://mail.google.com">
                      Open Gmail
                    </a></button>
                    <button onclick="closePopup()" type="button" class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm  text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
            <div
                class="mt-7 bg-white border border-gray-200 rounded-xl shadow-sm null:bg-gray-800 null:border-gray-700">
                
                
                <div class="p-4 sm:p-7">
                    <div class="text-center">
                        <h1 class="block text-2xl font-bold text-gray-800 null:text-white">Your Profile</h1>
                    </div>
                    

                    <div class="mt-5">

                        

                        <!-- Form -->
                        <form>
                            <div class="grid gap-y-4">
                                <!-- Form Group -->
                                <div>
                                    <label for="email" class="block text-sm mb-2 null:text-white">Full Name</label>
                                    <div class="relative">
                                        <input disabled value="<%= profile.name %>"
                                            class="py-3 px-4 block w-full border border-gray-300 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none null:bg-slate-900 null:border-gray-700 null:text-gray-400 null:focus:ring-gray-600"
                                            required aria-describedby="email-error">
                                        <div class="hidden absolute inset-y-0 end-0 pointer-events-none pe-3">
                                            <svg class="size-5 text-red-500" width="16" height="16" fill="currentColor"
                                                viewBox="0 0 16 16" aria-hidden="true">
                                                <path
                                                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                                            </svg>
                                        </div>
                                    </div>
                                    
                                </div>
                                <!-- End Form Group -->

                                <!-- Form Group -->
                                <div>
                                    <label for="email" class="block text-sm mb-2 null:text-white">Email address</label>
                                    <div class="relative">
                                        <input disabled value="<%= profile.email %>"
                                            class="py-3 px-4 block w-full border border-gray-300 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none null:bg-slate-900 null:border-gray-700 null:text-gray-400 null:focus:ring-gray-600"
                                            required aria-describedby="email-error">
                                        <div class="hidden absolute inset-y-0 end-0 pointer-events-none pe-3">
                                            <svg class="size-5 text-red-500" width="16" height="16" fill="currentColor"
                                                viewBox="0 0 16 16" aria-hidden="true">
                                                <path
                                                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                                            </svg>
                                        </div>
                                    </div>
                                    <% if(profile.verified){ %>
                                        <p class=" text-xs text-teal-500 mt-2 flex flex-inline ml-2">
                                            <svg class="w-3 h-3 text-teal-600 flex-inline mr-1 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                                <path fill-rule="evenodd" d="M12 2a3 3 0 0 0-2.1.9l-.9.9a1 1 0 0 1-.7.3H7a3 3 0 0 0-3 3v1.2c0 .3 0 .5-.2.7l-1 .9a3 3 0 0 0 0 4.2l1 .9c.2.2.3.4.3.7V17a3 3 0 0 0 3 3h1.2c.3 0 .5 0 .7.2l.9 1a3 3 0 0 0 4.2 0l.9-1c.2-.2.4-.3.7-.3H17a3 3 0 0 0 3-3v-1.2c0-.3 0-.5.2-.7l1-.9a3 3 0 0 0 0-4.2l-1-.9a1 1 0 0 1-.3-.7V7a3 3 0 0 0-3-3h-1.2a1 1 0 0 1-.7-.2l-.9-1A3 3 0 0 0 12 2Zm3.7 7.7a1 1 0 1 0-1.4-1.4L10 12.6l-1.3-1.3a1 1 0 0 0-1.4 1.4l2 2c.4.4 1 .4 1.4 0l5-5Z" clip-rule="evenodd"/>
                                              </svg>
                                              Verified</p>
                                    <% } else { %>
                                        <p class=" text-xs text-red-500 mt-2 flex flex-inline ml-2">
                                              <svg class="w-3 h-3 text-red-600 flex-inline mr-1 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                                <path fill-rule="evenodd" d="M2 12a10 10 0 1 1 20 0 10 10 0 0 1-20 0Zm11-4a1 1 0 1 0-2 0v5a1 1 0 1 0 2 0V8Zm-1 7a1 1 0 1 0 0 2 1 1 0 1 0 0-2Z" clip-rule="evenodd"/>
                                              </svg>
                                              
                                              Unverified <a class="ml-3 text-blue-600 hover:underline" href="/email_validation/resend?userID=<%= profile._id %>">Resend Link</a>
                                            </p>
                                    <% } %>
                                    <% if(profile.authType === 'google'){ %>
                                      <button type="button"
                                      class="w-full mt-5 py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg bg-white text-gray-800 shadow-lg  disabled:opacity-50 disabled:pointer-events-none nonec:bg-slate-900 nonec:border-gray-700 nonec:text-white nonec:hover:bg-gray-800 nonec:focus:outline-none nonec:focus:ring-1 nonec:focus:ring-gray-600">
                                      <svg class="w-4 h-auto" width="46" height="47" viewBox="0 0 46 47" fill="none">
                                          <path
                                              d="M46 24.0287C46 22.09 45.8533 20.68 45.5013 19.2112H23.4694V27.9356H36.4069C36.1429 30.1094 34.7347 33.37 31.5957 35.5731L31.5663 35.8669L38.5191 41.2719L38.9885 41.3306C43.4477 37.2181 46 31.1669 46 24.0287Z"
                                              fill="#4285F4" />
                                          <path
                                              d="M23.4694 47C29.8061 47 35.1161 44.9144 39.0179 41.3012L31.625 35.5437C29.6301 36.9244 26.9898 37.8937 23.4987 37.8937C17.2793 37.8937 12.0281 33.7812 10.1505 28.1412L9.88649 28.1706L2.61097 33.7812L2.52296 34.0456C6.36608 41.7125 14.287 47 23.4694 47Z"
                                              fill="#34A853" />
                                          <path
                                              d="M10.1212 28.1413C9.62245 26.6725 9.32908 25.1156 9.32908 23.5C9.32908 21.8844 9.62245 20.3275 10.0918 18.8588V18.5356L2.75765 12.8369L2.52296 12.9544C0.909439 16.1269 0 19.7106 0 23.5C0 27.2894 0.909439 30.8731 2.49362 34.0456L10.1212 28.1413Z"
                                              fill="#FBBC05" />
                                          <path
                                              d="M23.4694 9.07688C27.8699 9.07688 30.8622 10.9863 32.5344 12.5725L39.1645 6.11C35.0867 2.32063 29.8061 0 23.4694 0C14.287 0 6.36607 5.2875 2.49362 12.9544L10.0918 18.8588C11.9987 13.1894 17.25 9.07688 23.4694 9.07688Z"
                                              fill="#EB4335" />
                                      </svg>
                                      Signed in with Google
                                  </button>
                                    <% } %>
                                    <div class="mt-5 mb-2">
                                      <a href="/logout">
                                        <button type="button" class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-red-500 text-white hover:bg-red-600 disabled:opacity-50 disabled:pointer-events-none null:focus:outline-none null:focus:ring-1 null:focus:ring-gray-600">Logout</button>
  
                                      </a>
                                    </div>
                                </div>
                                <!-- End Form Group -->
                              
                            </div>
                        </form>
                        <!-- End Form -->
                    </div>
                </div>
            </div>
        </main>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
              const urlParams = new URLSearchParams(window.location.search);
    
              if (urlParams.has('returnMsg') && urlParams.get('returnMsg') === 'emailUnverified') {
                // Show the alert div
                document.getElementById('emailUnverifiedPopup').style.display = 'block';

              }

              if (urlParams.has('returnMsg') && urlParams.get('returnMsg') === 'emailResent') {
                // Show the alert div
                document.getElementById('emailResentPopup').style.display = 'block';

              }

            });
    
          </script>
          <script>
            function closePopup(){
         document.getElementById('emailUnverifiedPopup').style.display = 'none';
         document.getElementById('emailResentPopup').style.display = 'none';

       }
         </script>

        <%- include("partial/footer") -%>