<%- include("partial/header") -%>


<% if(source === 'admin'){ %>
    <%- include("partial/admin-navbar") -%>
<% } %>


        <script src="
https://cdn.jsdelivr.net/npm/flowbite@2.2.1/dist/flowbite.min.js
"></script>

        <body>

            <section>
                <!-- Blog Article -->
                <div class="max-w-5xl px-6 pt-6 lg:pt-10 pb-12 sm:px-6 lg:px-16 mx-auto">
                    <div class="max-w-5xl">
                        <h1 class="text-3xl my-8 text-center text-red-500 font-bold">Unpublished Article</h1>
                        <!-- Avatar Media -->
                        <div class="flex justify-between items-center mb-6">
                            <div class="flex w-full sm:items-center gap-x-5 sm:gap-x-3">

                                <div class="grow">
                                    <div class="flex justify-between items-center gap-x-2">
                                        <div>
                                            <!-- Tooltip -->
                                            <div class="hs-tooltip inline-block [--trigger:hover] [--placement:bottom]">
                                                <div class="hs-tooltip-toggle sm:mb-1 block text-start cursor-pointer">
                                                    <span class="font-semibold text-gray-800 none:text-gray-200">
                                                        By <%= post.author_name %>
                                                    </span>

                                                    <!-- Dropdown Card -->
                                                    <div class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 max-w-xs cursor-default bg-gray-900 divide-y divide-gray-700 shadow-lg rounded-xl none:bg-black"
                                                        role="tooltip">
>

                                                        <!-- Footer -->
                                                        <div
                                                            class="flex justify-between items-center px-4 py-3 sm:px-5">

                                                        </div>
                                                        <!-- End Footer -->
                                                    </div>
                                                    <!-- End Dropdown Card -->
                                                </div>
                                            </div>
                                            <!-- End Tooltip -->

                                            <ul class="text-xs text-gray-500">
                                                <li
                                                    class="inline-block relative pe-6 last:pe-0 last-of-type:before:hidden before:absolute before:top-1/2 before:end-2 before:-translate-y-1/2 before:w-1 before:h-1 before:bg-gray-300 before:rounded-full none:text-gray-400 none:before:bg-gray-600">
                                                    <%= (post.createdAt).toLocaleString('en-IN') %>
                                                </li>

                                            </ul>
                                        </div>
                                           
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Avatar Media -->

                        <!-- Content -->
                        <div class="space-y-5 md:space-y-8">
                            <div class="space-y-3">
                                <h2 class="text-2xl mb-8 md:mb-12 font-bold md:text-3xl none:text-white">
                                    <%= post.title %>
                                </h2>

                                <figure">
                                    <img class="w-[40rem] rounded-xl" src="<%= post.img_url %>"
                                        alt="Article Image">
                                    </figure>

                                    <div id="dynamicContent" class="text-2xl articleContent my-12 text-gray-800 ">
                                        <%- post.content %>
                                    </div>

                            </div>
                            <div class="">
                                <% if( source === 'adming'){ %>
                                    <a href="/pending-articles">
                                    <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 none:bg-blue-600 none:hover:bg-blue-700 focus:outline-none none:focus:ring-blue-800">Back to Approval page</button>
                                </a>
                                <% } else { %>
                                    <a href="/user-articles">
                                        <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 none:bg-blue-600 none:hover:bg-blue-700 focus:outline-none none:focus:ring-blue-800">Back to Articles page</button>
                                    </a>
                                <% }  %>
                            </div>
                            <!-- End Content -->
                        </div>
                    </div>

                    <!-- End Sticky Share Group -->
            </section>
            <script>
                // Get all img elements inside the dynamicContent div
                const imgElements = document.querySelectorAll('#dynamicContent img');
                const pElements = document.querySelectorAll('#dynamicContent p');

                pElements.forEach(p => {
                    p.classList.add('my-6');
                });

                // Loop through each img element and add Tailwind CSS classes
                imgElements.forEach(img => {
                    img.classList.add('rounded-xl' , 'w-[40rem]' , 'my-8');
                });
            </script>
</body>
            <%- include("partial/footer") -%>